<p>
  <strong>Title:</strong>
  <%= @article.tittle %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Atras', articles_path %>
<%= link_to 'Editar', edit_article_path(@article) %>